networks:
  default:
    external: true
    name: sharednet

services:
  irohad:
    image: hyperledger/iroha:testnet-2.0.0-rc.1
    environment:
      # ATTACHED CLIENT CONFIG OVERRIDE
      TRANSACTION_STATUS_TIMEOUT_MS: 60_000
      # replace with your account keys
      ACCOUNT_PUBLIC_KEY: ed0120CE7FA46C9DCE7EA4B125E2E36BDB63EA33073E7590AC92816AE1E861B7048B03
      ACCOUNT_PRIVATE_KEY: 802620CCF31D85E3B32A4BEA59987CE0C78E3B8E2DB93881468AB2435FE45D5C9DCD53
      # PEER CONFIG
      CHAIN: 00000000-0000-0000-0000-000000000000
      # replace with your peer keys
      PUBLIC_KEY: ed0120A98BAFB0663CE08D75EBD506FEC38A84E576A7C9B0897693ED4B04FD9EF2D18D
      PRIVATE_KEY: 802620A4DFC16789FBF9A588525E4AC7F791AC51B12AEE8919EACC03EB2FC31D32C692
      # replace with your peer's advertised global address
      P2P_PUBLIC_ADDRESS: 255.255.255.255:1337
      P2P_ADDRESS: 0.0.0.0:1337
      API_ADDRESS: 0.0.0.0:8080
      GENESIS_PUBLIC_KEY: ed01204164BF554923ECE1FD412D241036D863A6AE430476C898248B8237D77534CFC4
      TOPOLOGY: '[]'
      TRUSTED_PEERS: '["ed012082528CCC8727333530C8F6F19F70C23882DEB1BF2BA3BE4A6654C7E8A91A7731@fujiwara.sora.org:1337"]'
    ports:
    - 1337:1337
    - 8080:8080
    init: true
    healthcheck:
      test: test $(curl -s http://127.0.0.1:8080/status/blocks) -gt 0
      interval: 2s
      timeout: 1s
      retries: 30
      start_period: 4s
