Pod::Spec.new do |s|
  s.name             = 'NoritoBridge'
  s.version          = '__VERSION__'
  s.summary          = 'Authenticated native Norito bridge for Hyperledger Iroha.'
  s.homepage         = 'https://github.com/hyperledger-iroha/iroha'
  s.license          = {
    :type => 'Apache-2.0',
    :text => 'Licensed under the Apache License, Version 2.0.'
  }
  s.author           = { 'Hyperledger Iroha Maintainers' => 'iroha@lists.hyperledger.org' }
  s.source           = {
    :http => '__SOURCE_URL__',
    :sha256 => '__ARCHIVE_SHA256__'
  }
  s.vendored_frameworks = 'NoritoBridge.xcframework'
  s.platform         = :ios, '15.0'
  s.swift_versions   = ['5.9']
end
