#!/bin/sh
# rustup default nightly-2025-05-08
set -e
# format checks
cargo fmt --all -- --check
cargo fmt --manifest-path ./wasm/Cargo.toml --all -- --check
# lints
cargo clippy --workspace --benches --tests --examples --all-features
cargo clippy --workspace --benches --tests --examples --all-features --manifest-path ./wasm/Cargo.toml
# TODO: fails, re-enable
# cargo clippy --workspace --benches --tests --examples --no-default-features
# update the default genesis
cargo run --bin kagami -- genesis --creation-time 1970-01-01T00:00:00Z --executor executor.wasm --wasm-dir libs > ./defaults/genesis.json
# update schema
cargo run --bin kagami -- schema > ./docs/source/references/schema.json
# update command-line help
cargo run --bin iroha -- markdown-help > ./crates/iroha_cli/CommandLineHelp.md
cargo run --bin kagami -- markdown-help > ./crates/iroha_kagami/CommandLineHelp.md
# update docker compose files
cargo run --bin kagami -- swarm -p 1 -s Iroha -H -c ./defaults -i hyperledger/iroha:local -b . -o ./defaults/docker-compose.single.yml -F
cargo run --bin kagami -- swarm -p 4 -s Iroha -H -c ./defaults -i hyperledger/iroha:local -b . -o ./defaults/docker-compose.local.yml -F
cargo run --bin kagami -- swarm -p 4 -s Iroha -H -c ./defaults -i hyperledger/iroha:dev -o ./defaults/docker-compose.yml -F
# stage updates
git add ./defaults/genesis.json ./docs/source/references/schema.json ./crates/iroha_cli/CommandLineHelp.md ./defaults/docker-compose.single.yml ./defaults/docker-compose.local.yml ./defaults/docker-compose.yml
